//定义字体
$font-size-xs       : 10px;
$font-size-sm       : 12px;
$font-size-md       : 14px;
$font-size-ld       : 16px;
$font-size-large    : 18px;
$font-weight-bold   : 500;
$font-weight-darken : 700;

// 定义颜色
$white                  : #ffffff;
$black                  : #000000;
$transparent            : transparent;
$color-background       : #222222;
$color-background-d     : rgba(0, 0, 0, 0.3);
$primary-color          : #ff5777;
$primary-color-tint     : #ff8198;
$lineargradient-start   : #077EF8;
$lineargradient-end     : #4F23CC;
$text-color3            : #333333;
$text-color6            : #666666;
$text-color9            : #999999;
$active-color           : #e70a54;